@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    background-color: black;
}

.text-wite {
    color: white;
}

.flex-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    padding-inline: 30px;
}

.flex-head-element {
    padding-inline: 30px;
}

.head-shadow {
    box-shadow: 0px 1px #12ca37;
}

.head-image {
    width: 100%;
    padding-top: 5px;
}

.flex-top-body-text {
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 25px;
}

.size-text {
    width: 70%;
    text-align: center;
}

.color-size-text {
    color: #63b1bc;
    font-family: "Titillium Web";
    font-size: 68px;
    padding: 5px;
    margin: 0px;
}

.text-seting-p {
    font-family: "Roboto";
    font-size: 18px;
    color: #9a9a9a;
    padding: 0px;
    margin: 0px;
}

.colab-name {
    font-size: 26px;
    font-weight: 100;
    color: white;
    font-family: "Roboto";
    margin: 0px;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-block: 80px;
}

.small-text {
    color:#9a9a9a;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
}

.body-color-size-text {
    color: white;
    font-family: "Titillium Web";
    font-size: 48px;
    padding: 5px;
    margin: 0px;
}

.text-body-margin {
    margin: 15px;
}

.conteiner-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    width: 90%;
}

.img-conteiner-setings {
    width: 500px;
}

.text-conteiner {
    color: white;
    font-family: "Titillium Web";
    font-weight: 600;
    font-size: 28px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.prise-item {
    color: #44d62c;
    font-family: "Titillium Web";
    font-weight: 600;
    font-size: 24px;
    padding: 5px;
    margin: 0px;
}

.btn-buy {
    background-color: #44d62c;
    border-radius: 4px;
    border-style: none;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto";
    padding: 6px 11px;
    margin-bottom: 10px;
}

.flex-center-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-block: 0px;
}

.a-btn {
    color:#44d62c;
    margin: 15px;
    font-family: "Roboto";
    font-size: 18px;
}

.big-margin {
    margin-block: 50px;
}

.img-item-setings {
    max-width: 100%;
    height: auto;
}

.faqs-qest {
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    width: 100%;
    font-weight: 400;
}

.flex-center-faqs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faqs-block {
    flex: 1 1 calc(45% - 10px);
    background-color: #222;
    /* width: 45%; */
    margin: 10px;
    padding: 20px; 
    box-sizing: border-box;
}

.flex-faqs-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
}

.faqs-text {
    color: #999;
    font-family: "Roboto";
    font-size: 16px;
    width: 100%;
    font-weight: 400;    
}

.btn-more {
    background-color: #000;
    border-style: none;
}

.flex-end-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 40px;
}

.bottom-end-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -1px #5f5f5f;
    margin-inline: 20px;
}

.gif-image-conteiner {
    width: 250px;
    border-width: 1px;
    border-style: solid;
    border-color: #3f3f3f;
}

.gift-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #3f3f3f;
    padding: 20px;
}

.gift-card-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
}

.flex-script-info {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: start;
    /* justify-content: ; */
    color: #b4b3b3;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
}

.bottom-script-shadow {
    width: 80%;
    padding-top: 2px;
    background-color: #3f3f3f;
}

.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: start; */
    width: 300px;
    margin: 10px;
    height: 50%;
    position: fixed;
    right: 10px;
    background-color: #161616;
    padding: 10px;
    border-radius: 10px;
    border-color: #5f5f5f;
    border-style: solid;
    border-width: 1px;
}

.total-sum {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    bottom: 70px;
    left: 30px;
}

.bay-all-items {
    width: 280px;
    font-size: 26px;
}

.close-btn {
    position: absolute;
    width: 35px;
    height: 35px;
    right: -7px;
    top: -7px;
    border-radius: 50%;
    background-color: #161616;
    border-style: solid;
    border-color: #414141;
    border-width: 2px;
    display: flex;              
    justify-content: center;    
    align-items: center; 
}

.add-items-style {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.prise-item-add {
    color: #44d62c;
    font-family: "Titillium Web";
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
    margin: 0px;
}

@media (max-width: 640px) {
    .img-conteiner-setings {
        width: 400px;
    }    

    .colab-name {
        font-size: 18px;
    }

    .color-size-text {
        font-size: 30px;
    }

    .flex-center {
        margin: 0px;
    }

    .body-color-size-text {
        font-size: 28px;
    }

    .text-seting-p {
        font-size: 16px;
    }

    .big-margin {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .flex-head {
        padding-inline: 10px;
    }

    .flex-head-element {
        padding-inline: 0px;
        padding-left: 30px;
    }

    .flex-top-body-text {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .gif-image-conteiner {
        width: 200px;
    }
}

@media (max-width: 500px) {
    .img-conteiner-setings {
        width: 300px;
    }    

    .gif-image-conteiner {
        width: 150px;
    }

    .big-margin {
        margin: 0px;
    }
}

@media (max-width: 400px) {
    .img-conteiner-setings {
        width: 250px;
    }    

    .gif-image-conteiner {
        width: 120px;
        height: 120px;
    }
}

[hidden] {
    display: none !important;
}